@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&family=Oooh+Baby&family=Roboto:ital,wght@1,300&family=Source+Sans+Pro:ital,wght@1,200&display=swap");
:root {
  --pading: 8px 12px;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: "Hi Melody", cursive;
  display: flex;
  position: sticky;

  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("../../image/로그인\ 배경.png") no-repeat center;
  background-size: cover;
}
.login-form {
  position: relative;
  box-shadow: 10px 10px 10px 10px rgba(1, 1, 1, 0.5);
  z-index: 2;
}
.login-form h1 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
}
.int-area {
  margin-bottom: 20px;
  width: 400px;
  position: relative;
  /* background: chartreuse; */
}
.int-area:first-child {
  margin-top: 0;
}
.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px;
  color: #fff;
  outline: none;
}
.int-area label {
  position: absolute;
  /* background-color: tomato; */
  left: 10px;
  top: 15px;
  font-size: 18px;
  color: #999;
  transition: all 0.5s ease;
}

.int-area input:focus + label,
.int-area input:valid + label {
  top: 0;
  font-size: 13px;
  color: #166cea;
}
.btn-area {
  margin-top: 30px;
}
.btn-area #btn {
  /* box-sizing: border-box;
  display: block;
  text-align: center; -A링크로 하면 적용*/
  width: 100%;
  height: 50px;
  color: #fff;
  /* font-size: 2.5em; */
  background: cornflowerblue;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.caption {
  margin-top: 20px;
  text-align: center;
}
.caption a {
  color: #fff;
  font-size: 15px;
}
