<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/register.css">
    <script src="/js/home/register.js" defer></script>
    <title>회원가입 페이지</title>
</head>
<body>
    <section class="sin-form">
        <h1>SIGN-UP PAGE</h1>
        <div class="">
            <form >
                <div class="int-area">
                    <input type="text" name="id" id="id"autocomplete="Off" required>
                    <label for="id">Id</label>
                </div>
                <div class="int-area">
                    <input type="text" name="name" id="name"autocomplete="Off" required>
                    <label for="name">Name</label>
                    </div>
                <div class="int-area">
                    <input type="password" id="psw" name="pw"autocomplete="Off" required>
                    <label for="psw">Password</label>
                </div>
                <div class="int-area">
                    <input type="password" id="confirm-psw" name="pw"autocomplete="Off" required>
                    <label for="cofirm-psw">Password</label>
                </div>
                <div class="int-area">
                    <input type="text" name="belong" id="belong"autocomplete="Off" required>
                    <label for="belong">belong to</label>
                </div>
                <div class="int-area">
                    <input type="email" id="email" name="email"autocomplete="Off" required>
                    <label for="email">Email</label>
                </div>
                <div class= "btn-area">
                    <input class="btn" id="btn" name="btm" type="submit" value="SIGN-UP"autocomplete="Off" required>
                </div>
                <div class="caption">
                    <a href="/login">LOG-IN</a>
                </div>
                </form>
        </div>
    </section>
</body>
</html>